html {
  background: #171717;
  color: rgba(247, 247, 247, 0.7);
  font-size: 18px;
  width: 100%;
  height: 100%;
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 1.8rem;
  margin: 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

p:last-child {
  margin-bottom: 0;
}

header {
  z-index: 1;
}

section.content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

section.content section {
  max-width: 460px;
}

section.content section:first-child {
  margin-right: 1rem;
}

section.content section.image img {
  display: block;
  width: 100%;
  height: auto;
}

section.content section.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.gradient {
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  display: block;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

@media (max-width: 950px) {
  body {
    height: auto;
  }

  section.content {
    flex-direction: column;
  }

  section.content section:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
